<%- include("../parts/header") %>
		<h1>Admin</h1>
		<p><a href="./add/">add</a></p>
		<p><a href="./products/">products</a></p>
		<p><a href="./users/">users</a></p>
<%- include("../parts/footer") %>