<%- include("../parts/header") %>
		<h1>Products</h1>
		<ul>
			<%
				if (locals.products) {
					for (const product of products) {
			%>
			<li>
				<a href="./../edit/?id=<%= product.id %>">
					<h2><%= product.title || "(no product title)" %></h2>
				</a>
			</li>
			<%
					}
				}
			%>
		</ul>
<%- include("../parts/footer") %>