<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width; initial-scale=1">
		<title>Index</title>
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<h1>Admin</h1>
		<p><a href="./add/">add</a></p>
		<p><a href="./products/">products</a></p>
		<p><a href="./users/">users</a></p>
	</body>
</html>