<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width; initial-scale=1">
		<title>Index</title>
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<h1>Add Product</h1>
		<form action="." method="post">
			<p>
				<label for="title">Product Title</label>
				<input type="text" id="title" name="title">
			</p>
			<p>
				<label for="image">Image</label>
				<input type="text" id="image" name="image">
			</p>
			<p>
				<label for="price">Price</label>
				<input type="number" id="price" name="price">
			</p>
			<p>
				<label for="salePrice">Sale Price</label>
				<input type="number" id="salePrice" name="salePrice">
			</p>
			<p>
				<label for="category">Category</label>
				<input type="number" id="category" name="category">
			</p>
			<p>
				<label for="description">Description</label>
				<input type="text" id="description" name="description">
			</p>
			<p>
				<input type="submit" value="Add">
			</p>
		</form>
	</body>
</html>