<%- include("parts/header") %>
		<% if (locals.message) { %>
		<p class="message"><%= locals.message %></p>
		<% } %>
		<h1>Change Password</h1>
		<form action="/change-password/" method="post">
			<p>
				<label for="currentPassword">Current Password</label>
				<input type="password" id="currentPassword" name="currentPassword" autocomplete="current-password">
			</p>
			<p>
				<label for="newPassword">New Password</label>
				<input type="password" id="newPassword" name="newPassword" autocomplete="new-password">
			</p>
			<p>
				<input type="submit" value="Change password">
			</p>
		</form>
<%- include("parts/footer") %>