<%- include("parts/header") %>
		<% if (locals.message) { %>
		<p class="message"><%= locals.message %></p>
		<% } %>
		<h1>Sign Up</h1>
		<form action="." method="post">
			<p>
				<label for="username">Username</label>
				<input type="text" id="username" name="username" autocomplete="username">
			</p>
			<p>
				<label for="password">Password</label>
				<input type="password" id="password" name="password" autocomplete="current-password">
			</p>
			<p>
				<input type="submit" value="Sign up">
			</p>
		</form>
		<p>Already have an account? <a href="/sign-in/">Sign in!</a></p>
<%- include("parts/footer") %>