<%- include("parts/header") %>
		<h1>Sign Up</h1>
		<% if (locals.message) { %>
		<div class="message">
			<p><%= locals.message %></p>
		</div>
		<% } %>
		<form action="." method="post">
			<p>
				<label for="username">Username</label>
				<input type="text" id="username" name="username" autocomplete="username">
			</p>
			<p>
				<label for="password">Password</label>
				<input type="text" id="password" name="password" autocomplete="current-password">
			</p>
			<p>
				<input type="submit" value="Sign up">
			</p>
		</form>
<%- include("parts/footer") %>